#profile-img {
    height:150px;
    margin-top: -75px;
    margin-bottom: 20px;
}

.h-80 {
    height: 80% !important;
}

.backdark{
  background-color: rgba(50, 0, 105, 0.8);
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
  color: white;
  box-shadow: skyblue 2px 3px 15px 5px;
}

.backdark_modal{
  background-color: rgb(50, 0, 105);
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
  color: white;
  box-shadow: skyblue 2px 3px 15px 5px;
}

.toper{
  padding-top: 100px;
}
